body {
    font-family: arial black;
    background-color: #808000;
    margin-top: 75px;
}

.center {
    text-align: center;
   
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight:bold;
    text-decoration: italic;
    color:purple;
    background-color:blue;
}

.img-medium {
    height: 400px;
}

