body {
    font-family: arial black;
    background-color: #800000;
    margin-top: 75px;
}

.center {
    text-align: left;
    text-indent:10px;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
    text-decoration:underline;
}

.img-medium {
    height: 150px;
}

